__pycache__/
*.pyc
.DS_Store
.venv/
venv/
data/sessions/
data/dk_ids/
data/slate_analysis/
data/contests/
data/sim_data/
data/sim_analysis/
data/bundle/
articles/*/
!articles/.gitkeep
data/contest_templates/
data/player_pool/
